<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header" class="header">

        <th:block th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}">
            <div id="current-user">
                <span class="user-name "> <th:block th:text="${#authentication.name}">Unknown user</th:block><i
                        class="fa fa-caret-down"></i>
                </span>
                <div class="user-menu">
                    <ul>
                        <li>Profile</li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}">
            <div id="sign-in-button">
                <a>
                <span>Sign in<i class="fa fa-sign-in"></i>
                </span>
                </a>
            </div>
        </th:block>


        <div class="group">
            <div class="text-group">
                <div class="title">Hotel Finder</div>
                <div class="version">version: 0.34</div>
            </div>
            <div class="menu-button">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</html>