<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="menu" class="menu">
        <section>
            <div class="title-bar">
                <span>Menu</span>
            </div>
            <div class="section-items">

                <div id="summary" class="item">
                    <a th:href="@{/home}">
                        <i id="icon" class="fa fa-home"></i>
                        <span>Home page</span>
                    </a>
                </div>
                <div id="visitors" class="item">
                    <a href="#">
                        <i id="icon" class="fa fa-search"></i>
                        <span>Search for hotels</span>
                    </a>
                </div>

                <div id="resources" class="item">
                    <a href="/hotels">
                        <i id="icon" class="fa fa-list-ul"></i>
                        <span>View all hotels</span>
                    </a>
                </div>
                <div id="resources" class="item">
                    <a th:href="@{/register}">
                        <i id="icon" class="fa fa-user-plus"></i>
                        <span>Register</span>
                    </a>
                </div>

                <div id="resources" class="item">
                    <a href="#">
                        <i id="icon" class="fa fa-info-circle"></i>
                        <span>About page</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</html>