.main-content {
    position: relative;
    background: url(../img/blue-exotic-hotel.jpg) no-repeat fixed center;
    background-size: cover;
    height: calc(100vh - 100px);
    border-bottom: 3px solid var(--color1);
}

.main-content .cover {
    position: absolute;
    background-color: var(--color4);
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.main-content .home-page-content {
    position: relative;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.main-content .home-page-content .title {
    position: absolute;
    top: 10%;
    height: 20%;
    width: 100%;
    font-size: 3rem;
    overflow: hidden;
}

.main-content .home-page-content .title span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}


.main-content .home-page-content .features {
    position: absolute;
    top: 30%;
    font-size: 2.2rem;
    height: 50%;
    width: 100%;
}

.main-content .home-page-content .features .item {
    width: 30%;
    display: inline-block;
    height: 100%;
    /*    overflow: hidden;*/
}

.main-content .home-page-content .features .item a {
    text-decoration: none;
    color: white;
}



.main-content .home-page-content .features .item .icon {
    position: relative;
    height: 60%;
}

.main-content .home-page-content .features .item .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13rem;
}

.main-content .home-page-content .features .item .description {
    position: relative;
    height: 40%;
    text-align: center;
    margin: 0 10px;
}

.main-content .home-page-content .features .item .description span {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    /*    transform: translateY(-50%);*/
}

.main-content .home-page-content .features .item .description span a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}

.main-content .home-page-content .features .item .description span a:hover {
    color: var(--color2);
}

.main-content .home-page-content .start-button {
    position: absolute;
    bottom: 4.5%;
    height: 13%;
    width: 100%;
    overflow: hidden;
    font-size: 2rem;
}

.main-content .home-page-content .start-button a {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
    height: 70%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color1);
    overflow: hidden;
}

.main-content .home-page-content .start-button a:hover {
    background-color: var(--color2);
    color: var(--color4);
}

.main-content .home-page-content .start-button a:active {
    background-color: var(--color1);
    color: white;
}

.main-content .home-page-content .start-button a span {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content .home-page-content .bottom-text {
    position: absolute;
    bottom: -3%;
    height: 5%;
    width: 100%;
}

.main-content .home-page-content .bottom-text span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
}




@media (orientation: landscape) {

    .main-content {
        height: calc(100vh - 70px);
    }
}


@media (max-width: 359px) {
    .main-content .home-page-content {
        font-size: 1.3rem;
    }

    .main-content .home-page-content .title {
        font-size: 2.2rem;
    }

    .main-content .home-page-content .features {
        font-size: 1.5rem;
    }

    .main-content .home-page-content .features .item .icon {
        height: 100%;
    }
    .main-content .home-page-content .features .item .icon i {
        font-size: 6rem;
    }

    .main-content .home-page-content .features .item .description {
        display: none;
    }

    .main-content .home-page-content .start-button {
        font-size: 1.5rem;
        height: 15%;
        bottom: 10%;
    }

    .main-content .home-page-content .start-button a {
        width: 70%;
    }
}

@media (min-width: 360px) {
    .main-content .home-page-content {
        font-size: 1.3rem;
    }

    .main-content .home-page-content .title {
        font-size: 2.2rem;
    }

    .main-content .home-page-content .features {
        font-size: 1.3rem;
    }

    .main-content .home-page-content .features .item .icon {
        height: 40%
    }

    .main-content .home-page-content .features .item .icon i {
        font-size: 6rem;
    }

    .main-content .home-page-content .features .item .description {
        margin: 0 5px;
        height: 60%;
    }

    .main-content .home-page-content .start-button {
        font-size: 1.5rem;
    }

    .main-content .home-page-content .start-button a {
        width: 70%;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    .main-content .home-page-content .features .item .icon i {
        font-size: 4rem;
    }
}

@media (min-width: 720px) {
    .main-content .home-page-content {
        font-size: 1.5rem;
    }

    .main-content .home-page-content .title {
        font-size: 2.5rem;
    }

    .main-content .home-page-content .features {
        font-size: 1.5rem;
    }

    .main-content .home-page-content .features .item .icon {
        height: 60%
    }

    .main-content .home-page-content .features .item .icon i {
        font-size: 10rem;
    }

    .main-content .home-page-content .features .item .description {
        margin: 0 5px;
        height: 40%;
    }

    .main-content .home-page-content .start-button {
        font-size: 1.7rem;
    }

    .main-content .home-page-content .start-button a {
        width: 50%;
    }
}

@media (min-width: 720px) and (orientation: landscape) {
    .main-content .home-page-content .features .item .icon i {
        font-size: 8rem;
    }
}

@media (min-width: 1024px) {
    .main-content {
        height: calc(100vh - 110px);
    }

    .main-content .home-page-content .title {
        font-size: 3.0rem;
    }

    .main-content .home-page-content .features {
        font-size: 1.8rem;
    }

    .main-content .home-page-content .features .item .icon i {
        font-size: 15rem;
    }
}

@media (min-width: 1440px) {
    .main-content {
        height: calc(100vh - 110px);
    }
    .main-content .home-page-content {
        font-size: 2.0rem;
    }
    .main-content .home-page-content .title {
        font-size: 4.5rem;
    }

    .main-content .home-page-content .features {
        font-size: 2.5rem;
    }

    .main-content .home-page-content .features .item .icon i {
        font-size: 20rem;
    }

    .main-content .home-page-content .start-button {
        font-size: 2.7rem;
    }

    .main-content .home-page-content .start-button a {
        width: 40%;
    }
}
