.login fieldset{
    border: none;
}

.login button{
    border: none;
}

.login{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.login .cover{
    background-color: var(--color4);
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.login .login-dialog{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    height: 35%;
    max-width: 400px;
    max-height: 350px;
    min-height: 250px;
    transform: translate(-50%, -50%);
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--color4), 0 6px 20px var(--color4);
}

.login .login-dialog .head{
    position: absolute;
    overflow: hidden;
    top: 0;
    background-color: var(--color1);
    width: 100%;
    height: 15%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -0.1px 1px var(--color1), 0.1px 0px 0px var(--color1), -0.1px 0px 0px var(--color1);
}

.login .login-dialog .alerts{
    position: absolute;
    overflow: hidden;
    top: 15%;
    background-color: var(--color3);
    padding: 4px 5px 2px 5px;
    width: 100%;
    height: 15%;
    box-shadow: 0 -0.1px 1px var(--color3), 0.1px 0px 0px var(--color3), -0.1px 0px 0px var(--color3);
}

.login .login-dialog .body{
    position: absolute;
    overflow: hidden;
    top: 30%;
    background-color: var(--color3);
    width: 100%;
    height: 50%;
    padding: 0 20px;
    box-shadow: 0 -0.1px 1px var(--color3), 0.1px 0px 0px var(--color3), -0.1px 0px 0px var(--color3);
    font-size: 1.6rem;
}

.login .login-dialog .footer{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background-color: var(--color2);
    width: 100%;
    height: 20%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -0.1px 1px var(--color2), 0.1px 0px 0px var(--color2), -0.1px 0px 0px var(--color2);
}

.login .login-dialog .footer:hover{
    background-color: var(--color1);
    box-shadow: 0 -0.1px 1px var(--color1), 0.1px 0px 0px var(--color1), -0.1px 0px 0px var(--color1);
}
.login .login-dialog .footer:active{
    background-color: var(--color2);
    box-shadow: 0 -0.1px 1px var(--color2), 0.1px 0px 0px var(--color2), -0.1px 0px 0px var(--color2);
}

.login .login-dialog .head .title{
    position: relative;
    font-size: 2.2rem;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.login .login-dialog .head .title legend{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login .login-dialog .head .exit{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    font-size: 2.0rem;
    color: white;
    opacity: 0.3;
}

.login .login-dialog .head .exit:hover{
    opacity: 1;
}
.login .login-dialog .head .exit:active{
    background-color: var(--color2);
}

.login .login-dialog .head .exit i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .login-dialog .footer .button{
    background-color: inherit;
    font-weight: bold;
    color: var(--color4);
    height: 100%;
    width: 100%;
    font-size: 2.4rem;
}

.login .login-dialog .footer .button:hover{
    color: white;
}
.login .login-dialog .footer .button:active{
    color: var(--color4);
}


.login .login-dialog .alerts .alert{
    position: relative;
    font-size: 1.4rem;
    padding: 0 10px;
    height: 100%;
    box-shadow: 0 -0.1px 1px var(--color4);
    font-weight: bold
}

.login .login-dialog .alerts .alert span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login .login-dialog .alerts .logout{
    background-color: var(--color2);
}

.login .login-dialog .alerts .error{
    background-color: pink;
}

.login .login-dialog .alerts .info{
    background-color: var(--color3);
    color: var(--color4);
}


.login .login-dialog .body .inputs{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login .login-dialog .body .inputs .input{
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
}

.login .login-dialog .body .inputs input{
    position: relative;
    padding: 0 21% 0 10px;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: 0 0.1px 0.1px var(--color4), -0.1px -0.1px 0px var(--color4);
    border-radius: 5px;
}
.login .login-dialog .body .inputs input:focus{
    outline: none;
    box-shadow: 0 0 1pt 1pt var(--color1);
}

.login .login-dialog .body .inputs .icon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color2);
    color: var(--color4);
    height: 40px;
    width: 20%;
    box-shadow: 0 0.1px 0.1px var(--color4), -0.1px -0.1px 0px var(--color4);
    border-radius: 0 5px 5px 0;
    font-size: 2.2rem;
}
.login .login-dialog .body .inputs .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
