:root {
    --color1: #47783D;
    --color2: #D9E9AC;
    --color3: #FCF7F3;
    --color4: #424242;
    --color5: #232323;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--color3);

}


/* header */

.header {
    position: relative;
    color: white;
    background-color: var(--color1);
    height: 100px;
    overflow: visible;
}

.header .sign-in {
    position: absolute;
    height: 40px;
    min-width: 180px;
    right: 0;
    top: 0;
    padding: 0;
    text-align: right;
    font-size: 1.5rem;
    z-index: 2;
}

.header .sign-in a{
    text-decoration: none;
    color: white;
}

.header .sign-in:hover{
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    text-align: center;
}

.header .sign-in:active{
    background-color: var(--color3);
}

.header .sign-in a:hover{
    color: var(--color4);
}

.header .sign-in a:active{
    color: var(--color1);
}

.header .sign-in span {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 1.5rem;
    padding: 0 40px 0 40px;
}

.header .sign-in span i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    right: 15px;
}


.header .current-user {
    position: absolute;
    height: 40px;
    min-width: 180px;
    right: 0;
    top: 0;
    padding: 0;
    text-align: right;
    font-size: 1.5rem;
    z-index: 2;
}

.header .current-user:hover{
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    text-align: center;
}

.header .current-user #user-name {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 1.5rem;
    padding: 0 40px 0 40px;
}

.header .current-user #user-name[class="active"] {
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    text-align: center;
}

.header .current-user span i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    right: 15px;
}


.header .current-user .user-menu {
    position: relative;
    display: none;
    top: 0;
    color: var(--color4);
    line-height: 30px;
    text-align: center;
    background-color: var(--color3);
    font-weight: bold;
    z-index: 2;
}


.header .current-user .user-menu ul {
    list-style: none;
    box-shadow: -1px 1px 0px;
}
.header .current-user .user-menu li input{
    display: block;
    color: var(--color4);
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.header .current-user .user-menu li a{
    display: block;
    color: var(--color4);
    width: 100%;
    height: 40px;
    text-decoration: none;
    padding: 5px 0;
}

.header .current-user .user-menu li:hover{
    background-color: var(--color2);
}

.header .current-user .user-menu li:active{
    background-color: var(--color3);
}

.header .bottom-line-group {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
}

.header .bottom-line-group .menu-button {
    position: absolute;
    font-size: 3rem;
    text-align: center;
    height: 100%;
    width: 20%;
}

.header .bottom-line-group .menu-button i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .bottom-line-group .heading-group {
    position: relative;
    width: 80%;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.header .bottom-line-group .heading-group h1 {
    font-size: 2.2rem;
}

.header .bottom-line-group .heading-group h3 {
    font-size: 1.5rem;
    font-weight: normal;
}


@media (orientation: landscape) {
    .header {
        height: 70px;
    }

    .header .bottom-line-group .menu-button {
        width: 15%;
        padding-left: 5%
    }

    .header .bottom-line-group .heading-group {
        width: 85%;
        left: 15%;
    }
}

@media (min-width: 1024px) {
    .header .bottom-line-group .menu-button {
        width: 10%;
        padding-left: 4%;
        padding-right: 1%;
    }

    .header .bottom-line-group .heading-group {
        width: 90%;
        left: 10%;
    }
}

@media (min-width: 1600px) {
    .header .bottom-line-group .menu-button {
        width: 8%;
        padding-left: 4%;
        padding-right: 1%;
    }

    .header .bottom-line-group .heading-group {
        width: 92%;
        left: 8%;
    }
}


/* menu */

.menu {
    position: absolute;
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    font-size: 1.4rem;
    color: var(--color4);
    background-color: var(--color3);
    z-index: 1;
    margin-bottom: 20px;
    box-shadow: 1px 1px var(--color1);
}

.menu .title-bar {
    position: relative;
    background-color: var(--color2);
    height: 40px;
    padding: 0 10%;
    margin: 0 0 2px 0;
}

.menu .title-bar span {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
}


.menu .section-items {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.menu .section-items .item a {
    text-decoration: none;
    color: var(--color4);
    height: 40px;
    display: block;
}

.menu .section-items .item {
    position: relative;
    height: 40px;
}

.menu .section-items .item:hover {
    background-color: var(--color2);
}

.menu .section-items a:active {
    background-color: var(--color1);
}

.menu .section-items .item span {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.menu .section-items .item #icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 1.8rem;
}


@media (min-width: 1024px) {


    .menu-button {
        display: none;
    }

    .menu {
        position: relative;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .menu .title-bar {
        display: none;

    }

    .menu .section-items {
        position: relative;
        background-color: var(--color2);
        margin-bottom: 0;
        font-size: 0;
        text-align: center;
    }

    .menu .section-items .item {
        position: relative;
        padding: 0 0;
        display: inline-block;
        text-align: center;
        height: 40px;
        font-size: 1.4rem;
        border-right: 1px solid var(--color1);
    }
    .menu .section-items .item:last-child {
        border-right: none;
    }

    .menu .section-items .item:hover {
        background-color: var(--color3);
    }

    .menu .section-items .item a {
        padding: 0 40px;
        color: var(--color4);
        height: 40px;
        display: block;
    }

    .menu .section-items .item span {
        position: relative;
        left: 0;
        top: 25%;

    }

    .menu .section-items .item #icon {
        position: relative;
        left: -10px;
    }

}

/* menu END!*/

/* main */

main {
    position: relative;
    min-height: calc(100vh - 300px);
    height: auto;
}

.main-content {
    position: relative;
    padding-bottom: 20px;
    font-size: 1.4rem;
    /*    border: 1px solid var(--color1);*/
}


@media (orientation: landscape){

    .main {
        min-height: calc(100vh - 270px);
    }
}
@media (orientation: landscape) and (max-height: 500px){

    .main {
        min-height: calc(100vh - 70px);
    }
}


/* footer */

footer {
    position: relative;
    overflow: hidden;
    height: 200px;
    color: white;
    background-color: var(--color4);
    text-align: center;
}

footer .top-line-group {
    height: 150px;
}

footer .top-line-group .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


footer .top-line-group .icons {
    font-size: 4.3rem;
}

footer .top-line-group .icons i {
    padding: 5px;
    color: var(--color3);
}

footer .top-line-group .small-nav {
    font-size: 0;
    margin: 8px 0 0 0;
}

footer .top-line-group .small-nav span {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 10px;
    border-right: 1px solid white;
}

footer .top-line-group .small-nav span:last-child {
    border-right: none;
}

footer .copyright {
    height: 50px;
    background-color: var(--color1);
    font-size: 1.3rem;
}

footer .copyright span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
