<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="fragments/head :: head"></th:block>
        <link rel="stylesheet" th:href="@{css/register.css}">
    </head>

    <body>

        <th:block th:unless="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}">
            <div th:replace="fragments/login-form :: login"></div>
        </th:block>
        <div th:replace="fragments/header :: header"></div>
        <main class="main">
            <div th:replace="fragments/menu :: menu"></div>

            <div class="background">
                <div class="cover"></div>
            </div>
            <div class="main-content">
                <div class="register-page-content">
                    <div class="register-form">
                        <form th:action="@{/register}" th:method="POST" th:object="${user}">
                            <fieldset>
                                <div class="head">
                                    <div class="title">
                                        <legend>Register new account</legend>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="inputs">
                                        <div class="input">
                                            <input th:field="*{name}" type="text" placeholder="Name" required>
                                            <div class="icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="input">
                                            <input th:field="*{tel}" type="text" placeholder="Tel. number" required>
                                            <div class="icon">
                                                <i class="fa fa-phone-square"></i>
                                            </div>
                                        </div>
                                        <div class="input">
                                            <input th:field="*{email}" type="text" placeholder="E-mail" required>
                                            <div class="icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="input">
                                            <input th:field="*{password}" type="password" id="password" placeholder="Password" required>
                                            <div class="icon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        </div>
                                        <div class="input">
                                            <input type="password" placeholder="Repeat password" id="confirm_password" required>
                                            <div class="icon">
                                                <i class="fa fa-lock"
                                                   style="text-shadow: 16px 0px 0; left: calc(50% - 8px);"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <button class="button" type="submit">
                                        Register!
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div th:replace="fragments/footer :: footer"></div>

        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" th:if="${param.login} or ${param.error}">
            if ($(".login").length) {
                $(".login").show();
            }
        </script>
        <script th:src="@{js/master.js}"></script>
        <script th:src="@{js/register-page.js}"></script>
        <th:block th:unless="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}">
            <script th:src="@{js/login-form.js}"></script>
        </th:block>
    </body>
</html>